@import "tailwindcss";

@theme {
  --color-primary: #258cf4;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101922;
  --color-surface-dark: #1A2633;
  --color-border-dark: #283039;
  --font-display: "Inter", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
}
