version: "3.9"

services:
  api:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: Backend-Flask
    expose:
      - "5000"
    networks:
      - my-net

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: Frontend-Vite
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - my-net

networks:
  my-net:
